<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>챔피언 상세보기</title>
</head>
<body>
<div th:insert="~{fragment/search :: search}"></div>
<br>
<div>
    <h2 th:text="${champ.champName}">챔피언 이름</h2>
    <table>
        <div th:object="${champ.skill}">
            <b>Q</b> : <span th:text="*{skillQ}">스킬 1</span><br>
            <b>W</b> : <span th:text="*{skillW}">스킬 2</span><br>
            <b>E</b> : <span th:text="*{skillE}">스킬 3</span><br>
            <b>R</b> : <span th:text="*{skillR}">스킬 4</span><br>
        </div>
    </table>
</div>
<br>
<table border="1" th:object="${champ}">
    <caption>전체 유저의 챔피언 기록</caption>
    <tr>
        <th>플레이 수</th>
        <th>승</th>
        <th>패</th>
        <th>승률</th>
        <th>킬</th>
        <th>데스</th>
        <th>어시스트</th>
        <th>평점</th>
    </tr>
    <tr>
        <td th:text="*{playCount}">10</td>
        <td th:text="*{win}">10</td>
        <td th:text="*{lose}">10</td>
        <td th:text="*{rateOfWin}">50.1</td>
        <td th:text="*{kda.kill}">120</td>
        <td th:text="*{kda.death}">30</td>
        <td th:text="*{kda.assist}">50</td>
        <td th:text="*{kda.rate}">2.3</td>
    </tr>
</table>
</body>
</html>
