<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게임 상세</title>
</head>
<body>
<table th:object="${recordDetail}" border="2">
    <tr>
        <th>티어</th>
        <th>닉네임</th>
        <th>KDA</th>
        <th>가한 피해량</th>
        <th>받은 피해량</th>
    </tr>
    <tr th:each="winnerPlayer : *{winnerList}">
        <td th:text="${winnerPlayer.tier}"></td>
        <td th:text="${winnerPlayer.nickname}"></td>
        <td th:object="${winnerPlayer.kda}">
            <ul>
                <li>킬 : <span th:text="*{kill}"></span></li>
                <li>데스 : <span th:text="*{death}"></span></li>
                <li>어시스트 : <span th:text="*{assist}"></span></li>
                <li>평점 : <span th:text="*{rate}"></span></li>
            </ul>
        </td>
        <td th:text="${winnerPlayer.damage}"></td>
        <td th:text="${winnerPlayer.receivedDamage}"></td>
    </tr>
</table>
<br>
<table th:object="${recordDetail}" border="2">
    <tr>
        <th>티어</th>
        <th>닉네임</th>
        <th>KDA</th>
        <th>가한 피해량</th>
        <th>받은 피해량</th>
    </tr>
    <tr th:each="loserPlayer : *{loserList}">
        <td th:text="${loserPlayer.tier}"></td>
        <td th:text="${loserPlayer.nickname}"></td>
        <td th:object="${loserPlayer.kda}">
            <ul>
                <li>킬 : <span th:text="*{kill}"></span></li>
                <li>데스 : <span th:text="*{death}"></span></li>
                <li>어시스트 : <span th:text="*{assist}"></span></li>
                <li>평점 : <span th:text="*{rate}"></span></li>
            </ul>
        </td>
        <td th:text="${loserPlayer.damage}"></td>
        <td th:text="${loserPlayer.receivedDamage}"></td>
    </tr>
</table>
</body>
</html>
